<html>
  <head>
    <title>
      <%= title%>
    </title>
  </head>
  <body>
  <a href="/new"> New Message</a>
   <ul>
      <% messages.forEach((message) => { %>
      <%- include('messages', {text: message.text, name: message.name, added: message.added}); %>
      <% }); %>
  </ul>
  </body>
</html>
