<li>
  <p name="messageContent">
    <%= text %>  
  </p>
  <p name="userName">
    <%= user %> 
  </p>
  <p name="dateAdded">
    <%= added %> 
  </p>
  <a href= "<%=`/open/${text}/${user}/${added}`%>"> Open </a>
</li>
