<li>
  <p name="messageContent">
    <%= text %>  
  </p>
  <p name="userName">
    <%= name %> 
  </p>
  <p name="dateAdded">
    <%= added %> 
  </p>
  <a href= "<%=`/open/${text}/${name}/${added}`%>"> Open </a>
</li>
